<!-- =============================
    < CHWM := CHAVIERWEBMÍDIA >
    < HTML := PÁGINA HOME >
    ============================= -->

{% extends 'base.html' %}




{% block title %}
Home
{% endblock %}

{% block content %}

<div class="container mt-5 text-center">

    <h1 class="display-4">
        Projeto Base Django
    </h1>

    <p class="lead">
        Estrutura inicial funcionando!
    </p>

    <button class="btn btn-primary" onclick="mostrarMensagem()">
        Testar JavaScript
    </button>

</div>

{% endblock %}