<!-- ====================================
    < CHWM := CHAVIERWEBMÍDIA >
    < HTML := PÁGINA HEADER.HTML INCLUDE >
    ==================================== -->
{% load static %}

<header class="header  text-white">

    <nav class="navbar navbar-expand-md navbar-dark">

        <div class="container">

            <a href="{% url 'home' %}" class="navbar-brand">
                <img src="{% static 'imagem/images (1).png' %}" alt="Logo" height="50" class="img-logo">
            </a>

            <!-- BOTÃO HAMBÚRGUER -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavbar"
                aria-controls="menuNavbar" aria-expanded="false" aria-label="Abrir menu">

                <span class="navbar-toggler-icon"></span>

            </button>

            <!-- MENU -->
            <div class="collapse navbar-collapse" id="menuNavbar">

                <ul class="navbar-nav ms-auto">

                    <li class="nav-item text-warning">
                        <a href="{% url 'home' %}" class="nav-link text-warning ">
                            Home
                        </a>
                    </li>

                   
                    <!-- MENU HOTEL -->
                    <li class="nav-item dropdown">

                        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Hotel
                        </a>

                        <ul class="dropdown-menu">

                            {% for item in menu_hotel %}

                            <li>
                                <a href="{{ item.url }}" class="dropdown-item">
                                    {{ item.icone }}
                                    {{ item.titulo }}
                                </a>
                            </li>

                            {% empty %}

                            <li>
                                <span class="dropdown-item">
                                    Nenhuma opção disponível
                                </span>
                            </li>

                            {% endfor %}

                        </ul>

                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Contato
                        </a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>

</header>