<!-- =============================
    < CHWM := CHAVIERWEBMÍDIA >
    < HTML := PÁGINA HOME >
    ============================= -->

{% extends 'base.html' %}
{% load static %}




{% block title %}
NovaOnda
{% endblock %}

{% block content %}

<!-- =========================
     CARROSSEL DE DESTAQUE
========================== -->

<div id="carouselDestaque"
     class="carousel slide"
     data-bs-ride="carousel">

    <!-- Indicadores -->
    <div class="carousel-indicators">

        <button type="button"
                data-bs-target="#carouselDestaque"
                data-bs-slide-to="0"
                class="active"
                aria-current="true">
        </button>

        <button type="button"
                data-bs-target="#carouselDestaque"
                data-bs-slide-to="1">
        </button>

        <button type="button"
                data-bs-target="#carouselDestaque"
                data-bs-slide-to="2">
        </button>

    </div>

    <!-- Imagens -->
    <div class="carousel-inner">

        <!-- Imagem 01 -->
        <div class="carousel-item active">

            <img src="{% static 'imagem/images.jpeg' %}"
                 class="d-block w-100 H-50"
                 alt="Destaque 1">

        </div>

        <!-- Imagem 02 -->
        <div class="carousel-item">

            <img src="{% static 'imagem/294760357.jpg' %}"
                 class="d-block w-100"
                 alt="Destaque 2">

        </div>

        <!-- Imagem 03 -->
        <div class="carousel-item">

            <img src="{% static 'imagem/2492582507_WxH.jpg.' %}"
                 class="d-block w-100"
                 alt="Destaque 3">

        </div>

    </div>

    <!-- Botão anterior -->
    <button class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselDestaque"
            data-bs-slide="prev">

        <span class="carousel-control-prev-icon"></span>

    </button>

    <!-- Botão próximo -->
    <button class="carousel-control-next "
            type="button"
            data-bs-target="#carouselDestaque"
            data-bs-slide="next">

        <span class="carousel-control-next-icon"></span>

    </button>

</div>

<div class="container mt-5 text-center">

    <h1 class="display-4">
        Projeto Base Django
    </h1>

    <p class="lead">
        Estrutura inicial funcionando!
    </p>

    <button class="btn btn-primary" onclick="mostrarMensagem()">
        Testar JavaScript
    </button>

</div>

{% endblock %}